*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: [one] 50px [two] 100px [three] 100px [four] 100px [five] 100px [six] 100px [seven] 100px [eight] 100px [nine] 100px [ten] auto [eleven];
    grid-template-rows: [row1-start] 70px [row1-end] 25px [line-three] 25px [line-four] 25px [line-five] 25px [line-six] auto [lastline];
    row-gap: 10px;

}
.item1{
    grid-column-start: one;
    grid-column-end: eleven;
    column-span: 10;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.item2{
    grid-row-start: row1-end;
    grid-row-end: line-three;
    grid-column-start: seven;
    grid-column-end: eight;

    align-self: center;
}

.item3{
    grid-row-start: line-three;
    grid-row-end: line-four;
    grid-column-start: two;
    grid-column-end: four;
    width: 200px;
}
.item4{
    grid-row-start: line-four;
    grid-row-end: line-five;
    grid-column-start: two;
    grid-column-end: four;
    width: 200px;

}
.item5{
    grid-row-start: line-five;
    grid-row-end: line-six;
    grid-column-start: three;
    grid-column-end: four;
    width: 100px;
}
.item6{
    grid-row-start: third-line;
    grid-row-end: fourth-line;
    grid-column-start: eight;
    grid-column-end: 10;
    width: 200px;


}

#tekstForklar{
   font-style: italic;
    font-size: small;
}

#idKasse{

}

#myChart{

    height: 600px;
    width: 800px;
}