#sejournalknap{
    width:130px;
margin-left: 2%;

}

#aftaler {
    border: 1px solid black;
    height: 100px;
    width: 200px;
}

#detførste {


}

#sekonsknap{
    margin-left: 17%;
}

#Først{
    margin-left: 40%;
}

#aftaleforme{

}

#journaltekst{
    margin-left: 75%;
}