#sejournalknap{
    width:100px;
    margin-left: 10% ;
}

#aftaler {
    border: 1px solid black;
    height: 100px;
    width: 200px;
}

#detførste {
    margin-left: 35%;

}

#sekonsknap{
    margin-left: 17%;
}
