.grid-item3{
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row1-end;
    grid-row-end: third-line;
    justify-self: center;
    align-self: end;
    font-style: italic;
}

.grid-item4{

}

#konsIDatabase{
    margin-top: 25%;
}

#aftaler{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

#opretPatient{
    width: 100px;
}

#LogudButton{
    position: absolute;
    right: 15px;
    top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#TilbageButton{
    position: absolute;
    right: 100px;
    top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#overskriftside{
    color: #00befd;
}

#detførste{
    margin-left: 35%
}
/*
.container{
    display: grid;
    grid-template-columns: [first] 1000px [line2] auto [line3] 100px [end];
    grid-template-rows: [row1-start] 70px [row1-end] 100px [third-line] auto [lastline];
    width: 100%;
}

 */