.Btncontainer{
    width:100%;
    position: relative;

}

#sejournal{
    width: 200px;
    position: absolute;
    float: left;
    margin-left: 30%;
    margin-top:50px;
   /* margin-left: 25%;
    margin-top: 50px;
    */
  transform: translate(-50%);
}
#sekonsultationer{
    width: 200px;
    position: absolute;
    float: left;
    margin-left: 65%;
    margin-top: 50px;
    transform: translate(-50%);

}
#kalenderikon{
    width: 100%;
    border-radius:50%;
    height: 200%;
    border: 1px solid darkblue;


}

#patientforsidekasse{
    width: 100%;
    position: relative;
}


#journalikon{
    width: 200px;
    height:200px;
    border-radius: 50%;
    border:1px solid darkblue;
}


#sejournalknap{
    width: 35%;
    margin-left:30%;
}

#sekonsultationerknap  {
    width:60%;
    margin-left:20%;
}

