
#aftaler{
    border: 1px solid black;
    height: 200px;
    width: 200px;


}
#opretkonsultation{
    width:100%;
    position:relative;
    font-family: inherit;

}

#opretkonskasse{
    position: absolute;
    width: 400px;
    margin-left: 50%;
    transform: translate(-50%);
}

.tekstoverskrift{
    font-weight: bold;
    color: #00befd;

}
