#ændrekonsknap{
    width: 150px;
    margin-left:43%;
}

#sletkonsknap{
    width: 100%;
}

#aftaler {
    border: 1px solid black;
    height: 100px;
    width: 200px;
}
#opretnykonsultation{
    margin-left: 47%;
}

#aftaleform{
    margin-left: 33%;
}

#detførste {
    margin-left: 35%;

}

#sekonsknap{
margin-left: 4%;
}

#aftaleforme{
    margin-left: 5%;
}
#første{
    margin-left: 35%
}

#anden{
    margin-left: 35%;
}